* {
    font-family: sans-serif;
    font-size: 14pt;
    font-weight: bold;
    margin: 0;
}

html {
    background-color: #CCCCFF;
    text-align: center;
}

h1 {
    font-size: 32pt;
}

textarea {
    width: 90%;
    height: 400px;
    font-family: monospace;
    font-size: 12pt;
    margin: 0 auto;
    display: block;
}

fieldset {
    border: 5px solid #000;
    display: inline;
    vertical-align: top;
}

.buttons{
    width: 10%;
    position: fixed;
    bottom: 0;
    right: 0;
}